<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="stylesheets/index.css">
  <script src="javascripts/index.js"></script>
</head>

<body>
  <h1 class="{{classTittle}}">Welcome to the Home Page!</h1>
  <h2>Session 7</h2>
  <h3>Endpoints:</h3>
  <p>Pets</p>
  <ul>
    <li>List: /pets</li>
    <li>Register new pet: /pets/new</li>
    <li>Search by ID: /pets/id/{pet_id}</li>
    <li>Search by specie: /pets/species/{pet_specie}</li>
    <li>Search by age (equal or less): /pets/age/{pet_age}</li>
  </ul>
  <p>Users:</p>
  <ul>
    <li>/users/register</li>
    <li>/users/login</li>

  </ul>

</body>

</html>