<!DOCTYPE html>
<html>

<head>
  <title>Upgrade Pets - New!</title>
</head>

<body>
  <h1>Crea tu nueva mascota!</h1>

  <form action="/pets" method="POST" enctype="multipart/form-data">
  <!-- enctype="multipart/form-data" informa de que habrán datos de diferentes tipos -->
    <label for="name">
      <p>Name</p>
      <input type="text" name="name">
    </label>
    <label for="species">
      <p>Species</p>
      <input type="text" name="species">
    </label>
    <label for="age">
      <p>Age</p>
      <input type="number" name="age">
    </label>

    <label for="picture">
      <p>Picture</p>
      <input type="file" name="picture" accept="image/png, image/jpeg">
    </label>

    <input type="submit" value="Crear mascota">
  </form>
</body>

</html>