<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
</head>

<body>

  <h1>La mascota con id {{this.id}}</h1>
  {{#if this.pet}}
  <h3>Name: {{ uppercase this.pet.name }}</h3>
  <h3>Age: {{ this.pet.age }}</h3>
  <h3>Species: {{ this.pet.species }}</h3>
  {{#gte this.pet.age 5}}
  <h3>¡Este perro tiene más de cinco años!</h3>
  {{else}}
  <h3>¡Este perro es muy jovencito!</h3>
  {{/gte}}
  {{else}}
  <h3>No hemos encontrado la mascota que buscas!</h3>
  {{/if}}
  <form action="/pets/"></form>
</body>

</html>