<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <script src="../delete-pet.js"></script>
</head>

<body>   
  <h1>Todas las mascotas de Upgrade Pets</h1>
  <nav>
  <form action="/users/logout" method="POST">
		<input type="submit" value="Logout"></input>
	</form>
</nav>
  <ul>
    {{#each pets}}
      <li>
        <h3>Name: {{ this.name }}</h3>
        <h3>Age: {{ this.age }}</h3>
        <h3>Species: {{ this.species }}</h3>
        
        {{#if this.picture}}
        <img src="{{this.picture}}" alt={{this.name}} width="200" />
      {{/if}}
      </li>
    {{/each}}
  </ul>
</body>

</html>